.app {
  background-color: var(--primary-color);
  font-family: var(--font-base);
}



button:hover{
 background: none;
}
.close:focus{

  outline: 1px dotted #fff !important;
}


.modal-body {
    
  padding: 0rem !important;
}

.modal-title{

color: #fff;
}

.modal-header{
  background: #313BAC;
 color: #fff !important;
}

.fa-close{
color: #fff;
}

.heading{
  font-weight: 500 !important;
}

.subheadings{
font-size: 14px;
color: #2e2e2e;
}


.dots {
height: 10px;
width: 10px;
background-color: green;
border-radius: 50%;
display: inline-block;
margin-right: 5px;
}

.gallery img{

margin-right: 10px;
}

.fs-9{
   font-size: 9px;
}

.projectImage {
  width:100%;
  height:100%;    
  overflow:hidden;
  position:relative;
}
.imgContianer img {
  position:absolute;
}

// .projectImage{

// max-width: 100%;
// max-height: 100%;

// }

// .projectImage:hover{
//   transition: ease-in;
//   transform: scale(1.1)
//   }

